{% extends "base_layout.html" %}


{% block title %}
	<title>Sofware Project Management</title>
{% endblock %}

{% block header %}
	<header>
		<h1>Software Project Management</h1>
	</header>
{% endblock %}

{% block main %}
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">

							<section>
								<header>
									<h3>Learning Outcomes</h3>
								</header>
								<p>
									Nascetur volutpat nibh ullamcorper vivamus at purus. Cursus ultrices porttitor sollicitudin imperdiet
									at pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
									feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
									fringilla consequat dis arcu. Pellentesque mus tempor vitae pretium sodales porttitor lacus. Phasellus
									egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
								</p>

							</section>
							<section>
								<header>
									<h3>Artifacts</h3>
								</header>
								<p>
									Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
									feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
									ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
									egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
								</p>
							</section>
						</article>
						<hr />
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="etchasketch.html" class="image featured"><img src="images/etchasketch-small.jpg" alt="" /></a>
								<header>
									<h3><a href="etchasketch.html">Personal Project 1</a></h3>
								</header>
								<p>
									Etch-a-Sketch: A single page web application written in HTML, CSS and Javascript.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="marketplace.html" class="image featured"><img src="images/marketplace-small.png" alt="" /></a>
								<header>
									<h3><a href="marketplace.html">Marketplace</a></h3>
								</header>
								<p>
									More details...
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="project3.html" class="image featured"><img src="images/pic09.jpg" alt="" /></a>
								<header>
									<h3><a href="project3.html">Project 3</a></h3>
								</header>
								<p>
									Marketplace: An e-commerce web application written in Python using the Flask framework.
								</p>
							</article>
						</div>
					</div>

				</div>
{% endblock %}